* {
    box-sizing: border-box;
}

body {
    background-color: rgb(165, 112, 112);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 35, 35);
}

h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
    color: black;
}

.background-img {
    background-image: url('/img/bookstore2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.5;
}

table {
    margin-top: 20vh;
    margin-left: 20vw;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    text-align: left;
    padding-left: 5px;
    padding-right: 20px;
    padding-block: 4px;
    background-color: rgba(206, 157, 157, 0.5);
    font-size: 13px;
}

table,
td,
th,
tr {
    border: 0.1px solid rgb(94, 81, 81);
}

button {
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(36, 35, 35);
    border: none;
    padding-block: 3px;
    font-size: 14px;
}

td {
    padding-inline: 10px;
    padding-left: 5px;
    padding-block: 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

td:nth-child(3) button:first-child {
    background-color: rgb(0, 153, 255);
}

td:nth-child(3) button:nth-child(2) {
    background-color: rgb(241, 243, 96);
}

td:nth-child(3) button:nth-child(3) {
    background-color: rgb(240, 180, 53);
}

tr:nth-child(2n) {
    background-color: rgba(206, 157, 157, 0.4);
}

td:nth-child(3) button:first-child:hover {
    background-color: rgb(0, 105, 175);
    transform: scale(1.01);
    transition: 0.2s;
}

td:nth-child(3) button:nth-child(2):hover {
    background-color: rgb(185, 187, 72);
    transform: scale(1.01);
    transition: 0.5;
}

td:nth-child(3) button:nth-child(3):hover {
    background-color: rgb(190, 143, 41);
    transform: scale(1.01);
    transition: 0.5;
}

.add-btn {
    position: absolute;
    margin-top: 1vh;
    margin-left: -29vw;
    background-color: rgba(141, 81, 2, 0.7);
    cursor: pointer;
}

.add-btn:hover {
    position: absolute;
    margin-top: 1vh;
    margin-left: -29vw;
    background-color: rgba(100, 57, 0, 0.7);
    transform: scale(1.01);
    transition: 0.5;
}

.modal {
    display: none;
    border: 3px solid grey;
    width: 50vw;
    height: 50vw;
    min-width: 250px;
    min-height: 250px;
    background-color: rgb(222, 226, 228);
    color: black;
    font-size: 32px;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 1;
    border-radius: 5%;

}

.modal-content {
    display: flex;

}

.close-btn {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 20px;
}

.details-title {
    position: absolute;
    font-size: 32px;
    top: 0vw;
    left: 20vw;
}

.details-price {
    position: absolute;
    top: 10vw;
    left: 1vw;
    min-height: 100px;
    min-width: 100px;
    font-size: 20px;
}

.details-img {
    position: absolute;
    top: 16vw;
    left: 16vw;
    max-width: 25vw;
    max-height: 25vw;
    font-size: 12px;
}