* {
    box-sizing: border-box;
}

body {
    background-color: rgb(165, 112, 112);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
}

.background-img {
    background-image: url('/img/bookstore2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.5;
}